body {
    background-color: #ffff0080;
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;

}

h3{
    font-size: 42px;
    text-align: center;
    margin-bottom: 20px;
}
.quiz-container {
    height: 450px;
    background-color: #fff;
width: 600px;
border-radius: 4px;
display: block;
margin: 50px auto;

}

.quiz-container ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}
.quiz-container ul li {
    display: inline-block;
background-color: #ffff00b5;
color: white;
width: 40%;
padding: 15px;
margin: 10px;
}
#question-image {
    width: 200px;
    height: 100px;
    display: block;
    margin: auto;
    margin-bottom: 70px;
  }
  #question-image img {
    width: 100%;
  }

.app-bottom {
    float: right;
    margin: 10px;
}

.info {
    display: block;
    width: 300px;
    height: 250px;
    font-size: 22px;
    margin: 100px auto;
    text-align: center;
  }
  .info p {
    text-align: justify;
  }
  .start-btn {
    background-color: #ffff00b5;
    color: black;
    width: 50%;
    padding: 15px;
    margin: 10px;
    border-radius: 4px;
  }
  .hidden {
    display: none;
  }
  