body {
    background-color: #f1f592;
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;

}

h3{
    font-size: 42px;
    text-align: center;
    margin-bottom: 20px;
}
.quiz-container {
    height: 450px;
    background-color: #fff;
width: 600px;
border-radius: 4px;
display: block;
margin: 50px auto;
border-radius: 20px;

}

.quiz-container ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}
.quiz-container ul li {
    display: inline-block;
    background-color: #eef98d;
    border: 4px #96660D;
color: black;
width: 40%;
padding: 15px;
margin: 10px;
border-radius: 20px;
}
#question-image {
    width: 200px;
    height: 100px;
    display: block;
    margin: auto;
    margin-bottom: 70px;
  }
  #question-image img {
    width: 100%;
  }

.app-bottom {
    float: right;
    margin: 10px;
    font-weight: bolder;
}
.showProgress {
  float: left;
  margin: 10px 15px;
}

.info {
    display: block;
    width: 300px;
    height: 400px;
    font-size: 22px;
    margin: 100px auto;
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
  }
 
  .info p {
    text-align: justify;
    padding: 70px 20px 30px;
  }
  .start-btn {
    background-color: #eef98d;
    border: 4px #96660D;
    color: black;
    width: 70%;
    padding: 15px;
    margin: 10px;
    border-radius: 14px;
  }
  .hidden {
    display: none;
  }


  .end-container {
    display: block;
    width: 300px;
    height: 450px;
    font-size: 22px;
    margin: 100px auto;
    text-align: center;
    background-color: white;
    border-radius: 20px;
     padding-top: 20px;
  }
  .resultText {
    font-size: 28px;
  }
  input {
    padding: 20px;
    width: 50%;
    margin-bottom: 30px;
  }
  .save-score {
    background-color: #eef98d;
    color: black;
    width: 70%;
    padding: 15px;
   
    margin: 10px;
    border-radius: 14px;
  }
  .try-again{
    background-color: #eef98d;
    color: black;
    width: 70%;
    padding: 15px;
    margin: 10px;
    border-radius: 14px;
  }